.friendList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: baseline;
    width: max-content;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 60px;
}